footer {
  width: 100%;
  background: var(--primary);
  margin-top: 70px;
  padding: 60px 15px 20px 15px;
  box-shadow: 0 0 4px 1px #cdd5ba;
  background: #e4efc9;

}

.footer_row{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
border-bottom: 1px solid rgba(47, 79, 79, 0.3);
}
.footer-left{
  width: 60%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-col{
  width: calc(33.3% - 14px);
}
.footer-ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-ul li {
  font-weight: 500;
  list-style: none;

}
.footer-col h5{
  text-transform: uppercase;
}
footer .logo{
  width: 200px;
}
.footer-right{
  width: 40%;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.store{
  height: 50px;
}